header {
   text-align: center;
}
main {
   display: flex;
   flex-wrap: wrap;
}
article {
   box-sizing: border-box;
   flex-grow: 1;
   margin: 8px;
   padding: 16px;
   width: 300px;
   background-color: bisque;
}
