header {
   height: 40px;
   background-color: darkturquoise;
}
ul {
   display: flex;
   align-items: center;
   color: white;
   list-style-type: none;
}
ul li {
   margin-left: 16px;
   line-height: 40px;
}
main {
   background-color: beige;
   height: 5000px;
}
.head {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   width: 200px;
   height: 200px;
   background-color: aquamarine;
}
.ear {
   position: relative;
   width: 40px;
   height: 60px;
   background-color: brown;
}
.ear_right {
   bottom: 60px;
   left: 200px;
}
.ear_left {
   bottom: 120px;
   right: 40px;
}
.eye {
   position: relative;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: gray;
}
.eye_right {
   bottom: 40px;
   left: 130px;
}
.eye_left {
   bottom: 70px;
   left: 40px;
}
