li {
   list-style-type: none;
   font-size: 1.5em;
}
li:first-of-type {
   text-decoration: red overline;
}
li:nth-of-type(2) {
   text-decoration-line: line-through;
}
li:last-of-type {
   text-decoration: green underline;
}
